# Concat

In [1]:
import pandas as pd

In [2]:
df_movies = pd.read_csv('IMDb movies/IMDb movies.csv', low_memory=False)
df_ratings = pd.read_csv('IMDb ratings/IMDb ratings.csv', low_memory=False)

In [3]:
# select columns
df_movies = df_movies[['imdb_title_id', 'title', 'year', 'genre', 'country']]
df_ratings = df_ratings[['imdb_title_id', 'total_votes', 'mean_vote']]

## Exercise 1

In [ ]:
# extrac 50% df
df_movies_sample = df_movies.sample(frac=0.5)

In [ ]:
print(df_movies_sample.shape)
print(df_movies.shape)

(42928, 5)
(85855, 5)

In [26]:
# concate - vertical
df_concat_vertical = pd.concat([df_movies, df_movies_sample], axis=0, ignore_index=True)

In [27]:
df_concat_vertical.shape

(128783, 5)

## Exercise 2

In [4]:
print(df_ratings.shape)
print(df_movies.shape)

(85855, 3)
(85855, 5)

In [ ]:
# merge index
df_ratings.set_index('imdb_title_id', inplace=True)
df_movies.set_index('imdb_title_id', inplace=True)

KeyError: "None of ['imdb_title_id'] are in the columns"

In [19]:
# concate - horizontal
df_concat_horizontal = pd.concat([df_movies, df_ratings], axis=1)

In [20]:
df_concat_horizontal

,title,year,genre,country,total_votes,mean_vote
imdb_title_id,,,,,,
tt0000009,Miss Jerry,1894,Romance,USA,154,5.9
tt0000574,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",Australia,589,6.3
tt0001892,Den sorte drøm,1911,Drama,"Germany, Denmark",188,6.0
tt0002101,Cleopatra,1912,"Drama, History",USA,446,5.3
tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",Italy,2237,6.9
...,...,...,...,...,...,...
tt9908390,Le lion,2020,Comedy,"France, Belgium",398,5.5
tt9911196,De Beentjes van Sint-Hildegard,2020,"Comedy, Drama",Netherlands,724,7.9
tt9911774,Padmavyuhathile Abhimanyu,2019,Drama,India,265,7.8
tt9914286,Sokagin Çocuklari,2019,"Drama, Family",Turkey,194,9.4
tt9914942,La vida sense la Sara Amat,2019,Drama,Spain,102,6.8

In [21]:
df_concat_horizontal.shape

(85855, 6)