5. Sample

In [1]:
import pandas as pd

In [2]:
df_players = pd.read_csv('players_20.csv')

In [3]:
df_players.set_index('short_name', inplace=True)
df_players = df_players[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [9]:
# extract 10 randoms elements
df_players['nationality'].sample(10, random_state=99)

short_name
R. Alvarado               Mexico
Qiao Wei                China PR
E. Paredes                 Chile
K. Stoyanov             Bulgaria
M. Chudý                Slovakia
D. Sundaram                India
R. Gagliardini             Italy
G. Debeljuh              Croatia
Kim Seung Yong    Korea Republic
M. Hansen                Denmark
Name: nationality, dtype: object

In [13]:
# extract 20% of the random sample
df_players.sample(frac=0.2, random_state=999)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
A. Feick,Arne Feick,31,1988-04-01,179,79,Germany,1. FC Heidenheim 1846
B. Manosalva,Brayan Manosalva,21,1997-07-14,185,78,Chile,CD Huachipato
Edigar Junio,Edigar Junio Teixeira Lima,28,1991-05-06,174,72,Brazil,Yokohama F. Marinos
G. Muzinga,Glody Ngonda Muzinga,24,1994-12-31,175,70,DR Congo,Dijon FCO
F. Al Birekan,Firas Al Birekan,19,2000-05-14,181,75,Saudi Arabia,Al Nassr
...,...,...,...,...,...,...,...
M. Kobylański,Martin Kobylański,25,1994-03-08,178,75,Poland,Eintracht Braunschweig
N. Contini,Nikita Contini,23,1996-05-21,190,82,Ukraine,Virtus Entella
L. Kalinić,Lovre Kalinić,29,1990-04-03,201,99,Croatia,Aston Villa
S. Ntshangase,Siphelele Ntshangase,26,1993-05-11,172,65,South Africa,Kaizer Chiefs
I. Vujica,Ivan Vujica,22,1997-04-20,180,83,Australia,Western United FC

In [17]:
# increment sample
df_players.sample(frac=2, replace=True)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Bueno,Wellington Daniel Bueno,23,1995-08-24,182,79,Brazil,Kashima Antlers
H. Konongo,Hugo Konongo,27,1992-02-14,178,76,Congo,Sepsi OSK
Ewerton,Ewerton José Almeida Santos,30,1989-03-23,188,89,Brazil,Hamburger SV
J. Riley,Joe Riley,22,1996-12-06,183,71,England,Bradford City
Xavi Molina,Francesc Xavier Molina Arias,32,1986-07-19,182,78,Spain,KAS Eupen
...,...,...,...,...,...,...,...
O. Cissé,Ousseynou Cissé,28,1991-04-08,195,85,Mali,Gillingham
J. Mostasilla,Johnny Javier Mostacilla Ceballos,28,1991-01-03,187,81,Colombia,Deportes Tolima
G. Miura,三浦 弦太,24,1995-03-01,183,77,Japan,Gamba Osaka
C. Zuvela,Chris Zuvela,22,1997-01-21,179,78,Australia,Sydney FC
M. Koné,Moussa Koné,22,1996-12-30,174,72,Senegal,SG Dynamo Dresden