3. Organize Dictionary Data

In [5]:
import pandas as pd

In [6]:
root = "https://football-data.co.uk/mmz4281/"

In [7]:
dict_countries = {
    'Spanish La Liga':'SP1',
    'Spanish Segunda Divicion':'SP2',
    'German Bundesliga':'D1',
    'English Premier League':'E0',
    'English League 1':'E2',
    'English League 2':'E3',
}

In [8]:
dict_countries['Spanish La Liga']

'SP1'

In [9]:
dict_historical_data = {}

for league in dict_countries:
    frames = []
    for season in range(18, 24):
        df = pd.read_csv(root + str(season) + str(season + 1) + '/' + dict_countries[league] + '.csv')
        df.insert(1, 'SEASON', season)
        frames.append(df)
    df_concat = pd.concat(frames)
    dict_historical_data[league] = df_concat

In [10]:
dict_historical_data.keys()

dict_keys(['Spanish La Liga', 'Spanish Segunda Divicion', 'German Bundesliga', 'English Premier League', 'English League 1', 'English League 2'])

In [11]:
dict_historical_data['Spanish La Liga']

,Div,SEASON,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,18,17/08/2018,Betis,Levante,0,3,A,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,18,17/08/2018,Girona,Valladolid,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,18,18/08/2018,Barcelona,Alaves,3,0,H,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,18,18/08/2018,Celta,Espanol,1,1,D,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,18,18/08/2018,Villarreal,Sociedad,1,2,A,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,23,25/05/2024,Real Madrid,Betis,0,0,D,0,0,...,3.43,-2.00,1.85,2.08,1.87,2.04,2.01,2.09,1.94,1.93
376,SP1,23,26/05/2024,Getafe,Mallorca,1,2,A,0,0,...,1.58,-0.25,2.04,1.89,2.05,1.88,2.06,1.93,1.97,1.87
377,SP1,23,26/05/2024,Celta,Valencia,2,2,D,0,1,...,2.04,-0.50,1.92,2.01,1.92,2.01,1.98,2.01,1.94,1.91
378,SP1,23,26/05/2024,Las Palmas,Alaves,1,1,D,0,0,...,1.96,-0.25,2.06,1.87,2.06,1.88,2.06,1.90,2.01,1.84
379,SP1,23,26/05/2024,Sevilla,Barcelona,1,2,A,1,1,...,2.71,0.75,2.06,1.87,2.06,1.87,2.09,2.00,1.97,1.88